@page "{id:int}"
@model HRTZ.WebApp.Pages.AdminModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Shared/_Layout";
}

<div>
    <h2>Администратор @Model.Admin.Login</h2>
</div>
<div>
   @foreach (var candidate in Model.Admin.CandidatesOnTest)
   {
       <div>
           <p class="text-uppercase"> </p>
           <p class="text-uppercase">@candidate.Login</p>
           <p class="text-lowercase">@candidate.Age</p>
           <p class="text-lowercase">@candidate.City</p>
           <p class="text-lowercase">@candidate.WorkExperience</p>
           <p class="text-lowercase">@candidate.Email</p>
           <p class="text-lowercase">@candidate.PhoneNumber</p>
           <p class="text-uppercase"> </p>
           <div class="btn-group" role="group">
               <form asp-page-handler="decline" method="post" asp-route-id="@candidate.Id">
                   <button type="button" class="btn btn-primary">Отказать</button>
               </form>
               <form asp-page-handler="accept" method="post" asp-route-id="@candidate.Id">
                   <button type="button" class="btn btn-primary">Отправить рекрутеру</button>
               </form>
           </div>
       </div>
   }
</div>